body{
	margin: 0;
	padding: 0;
	font-size: 24px;
	text-align: center;
	background:#F2F2F2 ;
    overflow:scroll;
}
div{
	width: 980px;
	margin: 5px auto;
	margin-top: 0;
	background: #F2F2F2 ;
}
.top_be{
	z-index: 2;
	position: fixed;
	
	background:#0F1A33 ;
	height: 40px;
	width: 100%;
	
}
.top{
	background:#0F1A33 ;
	height: 40px;
    z-index: 2;
}
.top_image{
	background:#0F1A33 ;
	height: 35px;
	width: 40px;
	float: left;
	margin-right: 50px;

	
}
.top_image-image{
	height: 33px;
	width: 35px;
	padding-top: 5px;
    z-index: 2;
}
.top_text{
	text-decoration:none;
	background:#0F1A33 ;
	height: 30px;
	width: 160px;
	float: left;
	color: white;
	font-family: "华文新魏";
	font-size: 20px;
	padding-top: 10px;
	

}
.top_texts{
	
	background:#0F1A33 ;
	float: right;
	color: white;
	height: 30px;
	width: 120px;
	font-family: "华文新魏";
	font-size: 20px;
	padding-top: 10px;
	
}
.blog_background{
    width: 100%;
    padding-top: 40px;
    background-color: transparent;
    height: 2000px;

}
.blog_form{
    background-color: #FFFFFF;
    padding-top: 20px;
   

}
.input_name{
    font-size: 20px;
    text-align: left;
    font-family: "华文楷体";
    font-weight: 900;
  
    
}
.input_text{
    height: 32px;
    width: 85%;
    border-radius: 4px;
   border-width: 1.2px;
   font-size: 20px;
}
.select_be{
    background-color: transparent;
    float: left;
    margin-top: 20px;
    padding-left: 45px;
}

.input_name_Select{
    font-size: 20px;
    text-align: left;
    font-family: "华文楷体";
    font-weight: 900;
    float: left;
    padding-right: 26px;
    line-height: 40px;
   
   
    
}

.input_select{
    height: 35px;
    width: 25%;
   
    
    border-radius: 4px;
   border-width: 1.2px;float: left;
   font-size: 15px;
   
   
   
}
.input_name_va{
    display: block;
    font-size: 20px;
    text-align: left;
    font-family: "华文楷体";
    font-weight: 900;
    float: left;
    
    line-height: 40px;
    padding-left: 45px;

}


.text_va{
    width: 85%;
    margin-top: 20px;
    font-size: 20px;
    height: 60px;
    border-radius: 4px;
    margin-bottom: 20px;
    
}
.input_namepass{
    display: block;
    font-size: 20px;
    text-align: left;
    font-family: "华文楷体";
    font-weight: 900;
    margin-top: 20px;
    
    float: left;
    
    margin-left: -40px;
    padding-right: 25px;
    
}
.input_textpass{
    height: 32px;
    width: 25%;
    float: left;
    border-radius: 4px;
   border-width: 1.2px;
   font-size: 20px;
   margin-top: 20px;
   font-size: 20px;
}
.blog_pass{
    background-color: transparent;
}
.conconcon{
    margin-top: 40px;
    height: 298px;
}
.sub_btn{
    margin-left: 750px;
}
