


<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <link href="../css/upload.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="./ckeditor/ckeditor.js" ></script>
</head>
<body>

    <div class="top_be">
		<div class="top">
			<div class="top_image">
				<img class="top_image-image" src="../image/logo.png" />
			</div>
			
			<?php foreach($class1_list_be as $classword) :?>
			<a  href="../index.php?class2_before=<?php echo $classword['class_id']; ?>" class="top_text"   ><?php echo $classword['class_name']; ?> </a>
			<?php endForeach; ?>
            <div class="top_texts">鸣唱的诗篇∨</div>
<div class="blog_background">

<form class="blog_form" method="post" action="submit.php" >
    <text class="input_name_va">标题</text>
    <input class="input_text" type="text" name="blog_title" value=""/>
    <br/>
    <div class="select_be">
    <text class="input_name_Select">分类</text>
    <select class="input_select" name="blog_classy">
        
        
        <?php foreach($class1_list as $classword1) :?>

        <option>   <?php echo $classword1['class_name']; ?></option>
        <?php endForeach; ?>
        
    </select>
</div>
    <br/>
    <text class="input_name_va">描述</text>
    <textarea class="text_va" type="text" name="blog_disc" value=""></textarea>
    <br/>

    <text class="input_name_va">时间</text>
    <input class="input_text" type="text" name="blog_time" value=""/>
    <br/>

    <div class="blog_pass">
    <text class="input_namepass">密码</text>
    <input class="input_textpass" type="password" name="blog_password" value=""/>
    <br/>
</div>
    

    <div class="conconcon">
   <textarea class="text_content" id="ck" name="blog_content"></textarea>
   <script id="ck" type="text/javascript">
       CKEDITOR.replace('ck');
   </script>
   <br/>
</div>

    
    
    

    <input class="sub_btn"  type="submit" name="bb" value="提交" />

    

</form>
</div>





</body>
</html>